.text {
    font-size: 3em;
    font-weight: 1000;
    color: #0D1321;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    margin-bottom: 0;
  }
  
.cuerpoHome {
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 12px 0;
}